{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login to your account{% endblock %}

{% block content %}

<div class="py-5 container">
    <div class="row">
        <div class="col-lg-5 col-md-9 mx-auto">
            <div class="card my-4 border shadow">
                <div class="card-body">
                    <h4 class="mb-4 text-center">Login to your account</h4>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="w-100 btn btn-success" type="submit">Login</button>
                    </form>
                </div>
                <div class="card-footer border-top-0 bg-dark">
                    <p class="my-3 text-center">
                        <a href="{% url 'student_signup' %}">Register for an account</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}