<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Student Tutor Locators</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/solar/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="d-flex flex-column min-vh-100">

    <header class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom py-2">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
                <i class="fa-solid fa-location-crosshairs me-2"></i>
                <strong>Tutors Locator</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ms-3 me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link {% url 'home' as home_url %}{% if request.get_full_path == home_url %}active{% endif %}"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% url 'tutors' as tutors_url %}{% if request.get_full_path == tutors_url %}active{% endif %}"
                            href="{% url 'tutors' %}">Tutors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% url 'tutor_requests' as tutor_requests_url %}{% if request.get_full_path == tutor_requests_url %}active{% endif %}"
                            href="{% url 'tutor_requests' %}">Requests</a>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if request.user.is_authenticated %}
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Account
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                                    <li><a class="dropdown-item" href="{% url 'student_profile' %}">My Profile</a></li>
                                    <li><a class="dropdown-item" href="{# url 'settings' #}">Settings</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
                        <a href="{# url 'signup' #}" class="btn btn-primary">Become a Tutor</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% include 'partials/_alerts.html' %}

    <main class="bg-white">
        {% block content %} {% endblock content %}
    </main>

    <footer class="text-muted py-5 mt-auto">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#" class="text-primary">Back to top</a>
            </p>
            <p class="mb-1">&copy; {% now 'Y' %} Student Tutors Locator</p>
            <p class="mb-0">All Rights Reserved.</p>
        </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>

</body>

</html>