{% extends "base.html" %}

{% block title %}Browse Tutors{% endblock %}

{% block content %}

<section class="py-3 bg-dark">
    <div class="container px-5 my-5">
        <div class="text-center text-white">
            <h1 class="fw-bolder">Browse Tutors</h1>
        </div>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row g-3 mb-5">
            <div class="col-lg-8 mx-lg-auto">
                <div class="card border border-primary shadow-sm">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="https://via.placeholder.com/150" class="rounded" alt="Sample Image">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <span class="text-primary float-end">&#8358;2,500 - &#8358;3000 / <small>hr</small></span>
                                <h5>Seyi Pythonian</h5>
                                <p class="mb-0 pb-0">Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component
                                    into use and I'll let you know once I do.</p>
                                <p class="m-0">Location: <span class="badge bg-primary"></span></p>
                                <p class="m-0">Subjects Taught: <span class="badge bg-primary">Abuja Building</span> <span
                                        class="badge bg-primary">Abuja Building</span></p>
                                <p class="m-0">Schedule: 
                                    <span class="badge bg-primary">
                                        <i class="fa-solid fa-location-crosshairs me-1"></i> One-on-One
                                    </span>
                                    <span class="badge bg-primary">
                                        <i class="fa-solid fa-location-crosshairs me-1"></i> Abuja Building
                                    </span>
                                    <span class="badge bg-primary">
                                        <i class="fa-solid fa-location-crosshairs me-1"></i> One-on-One
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# include 'partials/_pagination.html' with page_obj=tutors #}
    </div>
</div>

{% endblock %}